header{
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: rgb(1, 22, 93);



    .container{
        padding-top: 32px;
        
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
       

        max-width: 1600px;
        margin: 0 auto;
        padding-left: 128;
        padding-right: 128;

        a{
            color: inherit;
            text-transform: uppercase;
            font-size: 32px;
            font-weight: 900;
            text-decoration: none;
            span{
                font-weight: 600;
            }
        }
        nav{
            display: grid;
            grid-gap: 16px;
            grid-template-columns: repeat(4, auto);

            a{
                color: inherit;
                font-size: 20px;
                text-decoration: none;

            }
        }

    }
}

 body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f0f0f0;
    }

    header {
        text-align: center;
        position: relative;
    }

    img.background-image {
        width: 40%; /* Adjust the width as needed */
        height: 400px;
    }
    img.second-image {
        width: 40%; /* Adjust the width as needed */
        height: 400px;
    }

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }

    nav {
        background-color: #333;
        padding: 10px 0;
        text-align: center;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        margin-right: 20px;
    }

    a {
        text-decoration: none;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #555;
        transition: background-color 0.3s ease;
    }

    a:hover {
        background-color: #777;
    }

    .content {
        max-width: 800px;
        margin: 20px auto;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }

    .sub-section {
        display: flex;
        align-items: center;
        padding: 20px;
        border-bottom: 1px solid #ddd;
    }

    img {
        width: 150px; /* Adjust the width as needed */
        margin-right: 20px;
    }

    .text {
        flex: 1;
    }

    h2 {
        color: #333;
    }

    footer {
        text-align: center;
        padding: 10px;
        background-color: #333;
        color: #fff;
    }
